@{
    ViewBag.Title = "About";
    @Styles.Render("~/ Content / Home / style.css")
}


<section id="about">
    <div class="about container">
        <div class="col-left">
            <div class="about-img">
                
            </div>
        </div>
        <div class="col-right">
            <h1 class="section-title">About <span>us</span></h1>
            <h2></h2>
            <p>Rental site created in 2022 to provide trouble search for apartments for rent,The location works within the country of yemen only and developed to work in other countries.It was created by three university students:Fatima Blozgah ,Amal Bahashwan,Sara Baraba.</p>
            
        </div>
    </div>
</section>