@{
    ViewBag.Title = "Contact";
    @Styles.Render("~/ Content / Home / style.css")
}
<section id="contact">
    <div class="contact container">
        <div>
            <h1 class="section-title">Contact <span>info</span></h1>
        </div>
        <div class="contact-items">
            <div class="contact-item">
                
                <div class="contact-info">
                    <h1>Phone</h1>
                    <h2>777804105</h2>
                    <h2>733678900</h2>
                </div>
            </div>
            <div class="contact-item">
                <
                <div class="contact-info">
                    <h1>Email</h1>
                    <h2>SFA872@gmail.com</h2>
                    <h2>Ejar123@gmail.com</h2>
                </div>
            </div>
            <div class="contact-item">
                
                <div class="contact-info">
                    <h1>Address</h1>
                    <h2>AL diss</h2>
                </div>
            </div>
        </div>
    </div>
</section>