@{
    ViewBag.Title = "Home Page";
}

<head>
    <link href="~/Content/Home/style.css" rel="stylesheet" />
</head>
<body>
    <div id="hero">
        <div class="hero container">
            <div>
                <h1>Hello, <span></span></h1>
                <h1>In Our <span></span></h1>
                <h1>Wep applcation EJAR <span></span></h1>
                <!-- <a href="#projects" type="button" class="cta">Portfolio</a>-->
            </div>
        </div>
    </div>
    <!-- Projects Section -->
    <div id="projects">
        <div class="projects container">
            <div class="projects-header">
                <h1 class="section-title">Apartments <span>For Rent</span></h1>
            </div>
            <div class="all-projects">
                <div class="project-item">
                    <div class="project-info">
                        <h1>EJAR</h1>
                        <h2>Save time</h2>
                        <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad, iusto cupiditate voluptatum impedit unde
                            rem ipsa distinctio illum quae mollitia ut, accusantium eius odio ducimus illo neque atque libero non sunt
                            harum? Ipsum repellat animi, fugit architecto voluptatum odit et!
                        </p>
                    </div>
                    <div class="project-img">
                        <img src="~/img/9.jpg" alt="img">
                    </div>
                </div>
                <div class="project-item">
                    <div class="project-info">
                        <h1>Many options</h1>
                        <h2>IN Ejar</h2>
                        <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad, iusto cupiditate voluptatum impedit unde
                            rem ipsa distinctio illum quae mollitia ut, accusantium eius odio ducimus illo neque atque libero non sunt
                            harum? Ipsum repellat animi, fugit architecto voluptatum odit et!
                        </p>
                    </div>
                    <div class="project-img">
                        <img src="~/img/3.jpg" alt="img">
                    </div>
                </div>
                <div class="project-item">
                    <div class="project-info">
                        <h1>Apartment 3</h1>
                        <h2>TAMI</h2>
                        <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad, iusto cupiditate voluptatum impedit unde
                            rem ipsa distinctio illum quae mollitia ut, accusantium eius odio ducimus illo neque atque libero non sunt
                            harum? Ipsum repellat animi, fugit architecto voluptatum odit et!
                        </p>
                    </div>
                    <div class="project-img">
                        <img src="~/img/5.jpg" alt="img">
                    </div>
                </div>


            </div>
        </div>
    </div>
    <!-- End Projects Section -->


</body>